#titlebox{
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
    background-color: rgb(238, 66, 66);
    border-radius: 20px;
}
#titlebox h1{
    font-size: 50px;
    height: 25px;
    padding: 20px 0 20px 0;
    text-align: center;
    color: white;
	-webkit-text-stroke: 2px black;

}
#bigbox{
    width: 100%;
    height: 5000px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    border: 5px solid black;
}
#wbbjBeechLake{
    border: 3px solid green;
    object-fit: contain;
    /* width: 460px;
*/
} 
.leftbox{
    object-fit: contain;
    width: 25%;
    height: 300px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    border: 3px solid rgb(169, 43, 140);
}
.centerbox{
    width: 49%;
    height: 500px;
    margin-top: 0px;
    /* margin-left: 25%; */
    float: left;
    border: 3px solid rgb(169, 43, 140);
    clear: none;
}
.rightbox{
    width: 25%;
    height: 300px;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
    border: 3px solid rgb(76, 63, 140);
}
body{
    margin: 20px 20px 20px 20px;
}